{% extends "base.html" %}

{% load static %}

{% block title %}
    Post a reply
{% endblock title %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{% url 'home' %}">Boards</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'board_topics' topic.board.slug %}">{{ topic.board.name }}</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'topic_posts' topic.board.slug topic.id %}">{{ topic.subject }}</a>
    </li>
    <li class="breadcrumb-item active">Post a reply</li>
{% endblock breadcrumb %}


{% block content %}
    <form class="mb-4" method="POST">
        {% csrf_token %}
        {% include 'common/forms.html' %}
        <button type="submit" class="btn btn-success">Reply</button>
    </form>
    
    {% for post in topic.get_last_ten_posts %}
        <div class="card mb-2">
            <div class="card-body p-2">
                <div class="row mb-3">
                    <div class="col-6">
                        <strong class="text-muted">{{ post.created_by.username }}</strong>
                    </div>
                    <div class="col-6 text-right">
                        <small class="text-muted">{{ post.created_at }}</small>
                    </div>
                </div>
                {{ post.message }}
            </div>
        </div>
    {% endfor %}
    
{% endblock content %}


{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script>
        var simplemde = new SimpleMDE();
    </script>
{% endblock extra_js %}
