{% extends 'base_accounts.html' %}

{% block title %}
    {{ block.super }} - Password reset
{% endblock title %}


{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12">
            <div class="card">
                <div class="card-body">
                    {% if validlink %}
                        <h5 class="text-muted lead mb-3">Change password for @{{ form.user.username }}</h5>
                        <form method="post" novalidate>
                            {% csrf_token %}
                            {% include "common/forms.html" %}
                            <button type="submit" class="btn btn-success">Change password</button>
                        </form>
                    {% else %}
                        <h5 class="card-title">Reset your password</h5>
                        <div class="alert alert-danger" role="alert">It looks like you clicked on an invalid password reset link. Please try again.</div>
                        <a href="{% url 'password_reset' %}" class="btn btn-primary">Request a new password reset link</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}